<!DOCTYPE html>
<html>

<head>
    <title>KPRX</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .container {
        text-align: center;
        padding: 100px;
    }
    
    input#inpurl {
        height: 30px;
        border: 1px solid #4c4d3f;
        font-size: 16px;
        box-sizing: border-box;
        padding: 5px;
        width: 500px;
    }
    
    input[type="submit"] {
        height: 30px;
        box-sizing: border-box;
        position: relative;
        top: -1px;
    }
    </style>
</head>

<body>
    <div class="container">
        <h1>KPRX</h1>
        <form id="urlform" action="/" method="post">
            <input type="text" id="inpurl" name="inpurl">
            <input type="submit" value="Go!">
        </form>
    </div>
</body>

</html>